venv/
__pycache__/
log/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

*.log
*.out

node_modules
# Editor directories and files
.idea

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store
.idea
.vscode

# local env files
*.local
cypress/screenshots/*
cypress/videos/*

coverage
